<div class="row">
    <div class="col-lg-12">
        <p>
            We will show you a blurry image, a full-resolution image and a question-answer pair.
        </p>
        <p>
            Your job is to <b>deblur</b> (i.e., sharpen) the blurred image as little as possible, such that anyone looking <b>only</b> at the sharpened image you create can <b>answer the question</b> accurately.
        </p>
        <p>
            How do you deblur the image? <b>Click and drag</b> on a region in the blurry image to progressively sharpen it.
        </p>
        <p>
            Works best on <b>Chrome</b> and <b>Safari</b>. Internet Explorer is <b>not</b> supported.
        </p>
        Your work will <b>get rejected</b> if you do not follow the instructions below.
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Instructions for Deblurring</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul>
            <li>Read the question and answer.</li>
            <li><b>Click and drag</b> on a region in the <b>blurred image</b> to progressively sharpen it.</li>
            <li>Sharpen regions of the image that you think will help someone answer the question quickly and correctly.</li>
        </ul>
        <b style="color:red;">IMPORTANT: Make sure you deblur the blurry image so that someone looking ONLY at the image that you sharpened (and NOT the original high resolution image) can answer the question correctly.</b>
    </div>
</div>