<div class="row">
    <div class="col-lg-12">
        <p>
            Please answer some questions about images with <b>brief answers</b>. Your answers should be how most other people would answer the questions. If the question doesn’t make sense, please try your best to answer it and indicate via the buttons that you are unsure of your response.
        </p>
        <p>
            <b>Here’s the catch!</b> We will show you a very blurry image. Your job is to <b>deblur</b> (i.e., sharpen) the image as little as possible, while making sure you can correctly <b>answer the question</b>.
        </p>
        <p>
            How do you deblur the image? <b>Click and drag</b> on a region in the image to progressively sharpen it.
        </p>
        <p>
            Remember: you want to deblur as little as possible, but you do want to answer the question correctly. So deblur only the regions of the image you believe are necessary in order to answer the question correctly.
        </p>
        <p>
            Works best on <b>Chrome</b> and <b>Safari</b>. Internet Explorer is <b>not</b> supported.
        </p>
        Your work will <b>get rejected</b> if you do not follow the instructions below.
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Instructions for Answering</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul>
            <li>Answer the question based on what is going on in <b>the scene depicted in the image.</b></li>
            <li>Your answer should be a <b>brief phrase</b> (not a complete sentence).</li>
            <ul>
                <li>"It is a kitchen." -> "kitchen"</li>
            </ul>
            <li>For yes/no questions, please <b>just say yes/no</b>.</li>
            <ul>
                <li>"You bet it is!" -> "yes"</li>
            </ul>
            <li>For numerical answers, please use <b>digits</b>.</li>
            <ul>
                <li>"Ten." -> "10"</li>
            </ul>
            <li>If you need to speculate (e.g., "What just happened?"), provide an answer that <b>most people would agree on</b>.</li>
            <li>If you don't know the answer (e.g., specific dog breed), provide your <b>best guess</b>.</li>
            <li>Respond matter-of-factly and avoid using conversational language or inserting your opinion.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Instructions for Deblurring</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul>
            <li><b>Click and drag</b> on a region in the <b>blurred image</b> to progressively sharpen it.</li>
            <li>The heatmap is just for reference.</li>
            <li>Sharpen regions of the image that help you answer the question quickly and correctly.</li>
        </ul>
    </div>
</div>